<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>奖罚记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/index.css}">
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/index.js}"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>

          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">


                        <div class="layui-inline layui-show-xs-block">
                            奖罚：
                            <div class="layui-input-inline">

                                <select id="typelx" lay-filter="brickType" name="typelx">

                                    <option value="0" selected="selected">全部</option>

                                    <option th:value="1">奖励 </option>
                                    <option th:value="2">惩罚 </option>


                                </select>
                            </div>
                        </div>
                        姓名：
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username"  autocomplete="off"
                                   th:value="${username}" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sousuo"><i
                                    class="layui-icon">&#xe615;</i></button>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">重置</button>
                        </div>


                        <div class="layui-inline layui-show-xs-block">
                            <a class="layui-btn" href="javascript:;"
                               onclick="xadmin.open('添加奖罚记录','/later/reward/punish/goadd',730,450)"><i
                                    class="layui-icon"></i>添加奖罚记录</a>
                        </div>

                    </form>

                </div>


                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th>岗位</th>
                            <th>原因</th>
                            <th>奖罚金额</th>
                            <th>类型</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </thead>
                        <tbody>

                        <tr th:each="rewardPunish,picStart:${rewardPunishlist}">
                            <td th:text="${picStart.count+(pageInfo.pageNum-1)*pageInfo.pageSize}"> 1</td>

                            <!--姓名-->
                            <td th:text="${rewardPunish.username}"></td>


                            <!--部门-->
                            <td th:text="${rewardPunish.departmentName}"></td>
                            <!--岗位-->
                            <td th:text="${rewardPunish.positionName}"></td>

                            <!--原因-->
                            <td th:text="${rewardPunish.explain}"></td>


                            <!--奖罚金额-->
                            <td th:text="${rewardPunish.magnitude}"></td>


                            <!--类型-->
                            <td th:if="${rewardPunish.type eq 1}"><span style="color: #2D64B3">奖励</span></td>
                            <td th:if="${rewardPunish.type eq 2}"><span style="color: #aa1111">惩罚</span></td>

                            <!--生效时间-->
                            <td><span th:text="${#dates.format(rewardPunish.createdate, 'yyyy-MM-dd')}">4564546</span></td>


                            <td class="td-manage">
                             <!--   <a th:onclick="'javascript:examine('+${mobility.id}+')'" href="javascript:;" title="查看">
                                    <i class="layui-icon">&#xe615;</i>
                                </a>
-->
                                <a title="删除" th:onclick="'javascript:member_del(this,'+${rewardPunish.id}+')'"
                                   href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>

                             <!--   <a title="导出Word"
                                   th:href="'/later/personnel/export?id='+${mobility.id}">
                                    <i class="layui-icon">&#xe66d;</i>
                                </a>
-->

                            </td>


                        </tr>


                        </tbody>
                    </table>
                    <!-- layUI 分页模块 -->
                    <div id="pages" style="text-align: center;"></div>
                </div>
                <!-- 数据存放-->
                <input type="hidden" id="type" th:value="${type}"/>
                <input type="hidden" id="username" th:value="${username}"/>

            </div>
        </div>
    </div>
</div>
</body>
<script>


    $(function(){
        $("#typelx option[value='"+$("#type").val()+"']").attr("selected", true);

    });

    layui.use(['laypage', 'layer', "element", "form"], function () {
        var laypage = layui.laypage,
            form = layui.form,
            layer = layui.layer;




        //总页数大于页码总数
        laypage.render({
            elem: 'pages'
            , count: [[${pageInfo.total}]]   //数据总数
            , limit: 10                   //每页显示条数
            , limits: [10]
            , curr: [[${pageInfo.pageNum}]]                        //起始页
            //, groups: 5                      //连续页码个数
            , prev: '上一页'                 //上一页文本
            , netx: '下一页'                 //下一页文本
            , first: 1                      //首页文本
            , last: [[${pageInfo.pages}]]                      //尾页文本
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
            , jump: function (obj, first) { //obj为当前页的属性和方法，第一次加载first为true
                //跳转页码时调
                //         do something
                if (!first) {
                    //非首次加载 do something
                    window.location.href = "/later/reward/punish/list?page=" + obj.curr
                        + "&&pageSize=" + obj.limit
                        +"&&type="+  $("#type").val() +"&&username="+$("#username").val();
                }
            }
        });

        form.on('submit(sousuo)', function (data) {

            window.location.href = "/later/reward/punish/list?username="
                + data.field.username
                +"&&type=" + $("#type").val();
            return false;
        });



        form.on('select(brickType)', function (data) {
            var type = data.value;

            window.location.href = "/later/reward/punish/list?type="
                + type+"&&username="+$("#username").val();


        });


    });



    /*删除调动记录*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: "post",
                url: "/later/reward/punish/delete",
                data: {"id": id},
                success: function (data) {
                    if (data.state === 200) {

                        window.location.href = "/later/reward/punish/list?page=" + [[${pageInfo.pageNum}]]
                            + "&&pageSize=" + [[${pageInfo.pageSize}]]
                            +"&&type="+  $("#type").val() +"&&username="+$("#username").val();
                    }
                    $(obj).parents("tr").remove();
                    layer.msg(data.msg, {icon: 1, time: 1000});
                }
            });


        });
    }


    function examine(id) {
        xadmin.open("查看", "/later/personnel/transfer?userId=" + id, 730, 600);
    }




</script>

</html>