<!doctype html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>曹县精锐机械ERP系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/index.js}"></script>

</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="./index.html">曹县精锐机械ERP系统</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>

    <ul class="layui-nav right" lay-filter="">
        <li class="new-nav" id="gonggao">
            <i></i>
            <a href="#"><i class="iconfont">&#xe6bc;</i><span class="layui-badge">4</span></a>
            <!--<dl class="layui-nav-child">-->
            <ul class="news" id="gonggaos" style="display: none;">
                <li class="dropdown-header"><i class="iconfont">&#xe6bc;</i>4条公告</li>
                <li><a href="javascript:;" onclick="xadmin.add_tab('统计页面','notice-list.html')">
                    <div class="clearfix">
                        <span class="pull-left"> <i class="btn btn-pink iconfont">&#xe6bc;</i> 系统公告 </span>
                        <span class="pull-right badge badge-info">+12</span>
                    </div>
                </a></li>
                <li><a href="javascript:;" onclick="xadmin.add_tab('统计页面','notice-list.html')"> <i
                        class="btn btn-primary iconfont">&#xe6bc;</i> 重要通知 </a></li>

                <li><a href="javascript:;" onclick="xadmin.add_tab('统计页面','notice-list.html')">查看所有公告 <i
                        class="iconfont">&#xe69b;</i> </a></li>
            </ul>
            <!--</dl>-->

        </li>
        <li class="new-nav" id="new-nav">
            <i></i>
            <a href="#"><i class="iconfont">&#xe713;</i><span class="layui-badge">9</span></a>
            <!--<dl class="layui-nav-child">-->
            <ul class="news" id="news" style="display: none;">
                <li class="dropdown-header"><i class="iconfont">&#xe6bc;</i>8条通知</li>
                <li><a href="#">
                    <div class="clearfix">
                        <span class="pull-left"> <i class="btn btn-pink iconfont">&#xe69b;</i> 新闻评论 </span>
                        <span class="pull-right badge badge-info">+12</span>
                    </div>
                </a></li>
                <li><a href="#"> <i class="btn btn-primary iconfont">&#xe696;</i> 切换为编辑登录.. </a></li>
                <li><a href="#">
                    <div class="clearfix">
                        <span class="pull-left"> <i class="iconfont btn btn-success">&#xe723;</i> 新订单 </span>
                        <span class="pull-right badge badge-success">+8</span>
                    </div>
                </a></li>
                <li><a href="#">
                    <div class="clearfix">
                        <span class="pull-left"> <i class="iconfont btn btn-info">&#xe6ba;</i> 粉丝 </span>
                        <span class="pull-right badge badge-info">+11</span>
                    </div>
                </a></li>
                <li><a href="javascript:;" onclick="xadmin.add_tab('统计页面','email.html')"> 查看所有消息 <i class="iconfont">&#xe69b;</i>
                </a></li>
            </ul>
            <!--</dl>-->

        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('个人信息','one_set.html')">个人信息</a></dd>
                <dd>
                    <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd>
                    <a href="./login.html">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/">前台首页</a></li>
    </ul>


</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;" onclick="xadmin.add_tab('我的桌面','/later/welcome')">
                    <i class="layui-icon left-nav-li" lay-tips="首页">&#xe68e;</i>
                    <cite>首页</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>

            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="我的工作">&#xe6a2;</i>
                    <cite>我的工作</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('我的报工','articletype-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我的报工</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('加班明细','article-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>加班明细</cite></a>
                    </li>
                </ul>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="我的工资">&#xe896;</i>
                    <cite>我的工资</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('工资明细','noticetype-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>工资明细</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('工资列表','notice-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>工资列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="我的审批">&#xe6c0;</i>
                    <cite>我的审批</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('请假休班','instrument.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>请假休班</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('费用报销','database.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>费用报销</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="我的奖惩">&#xe64a;</i>
                    <cite>我的奖惩</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('奖励明细','instrument.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>奖励明细</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('惩罚明细','database.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>惩罚明细</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="学习园地">&#xe6ad;</i>
                    <cite>学习园地</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('技术学习','instrument.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>技术学习</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('企业文化','database.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>企业文化</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="数据管理">&#xe70c;</i>
                    <cite>数据管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('文件管理','instrument.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文件管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('数据库','database.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>数据库</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('备份管理','backups.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>备份管理</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="个人信息">&#xe6b4;</i>
                    <cite>个人信息</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('修改信息','instrument.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>修改信息</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('安全设置','database.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>安全设置</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="其它页面">&#xe636;</i>
                    <cite>其它页面</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="login.html" target="_blank">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>登录页面</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('错误页面','error.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>错误页面</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('更新日志','log.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>更新日志</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统设置">&#xe60d;</i>
                    <cite>系统设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('系统设置','sys-set.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>系统设置</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('屏蔽词','sys-shild.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>屏蔽词</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('系统日志','sys-log.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>系统日志</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('图片水印设置','sys-watermark.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>图片水印设置</cite></a>
                    </li>


                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面
            </li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
           <!--
                <iframe th:src='@{/later/welcome}' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>-->

        <div class="layui-tab-item layui-show">
                <iframe width="100%" height="100%" id="mainIframe" src="/later/welcome" frameborder="0"></iframe>
            </div>

        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->

</body>
<script th:src="@{/static/js/jquery.min.js}"></script>

</html>

<script>
    window.onload = function () {
        var click = document.getElementById('new-nav');
        var news = document.getElementById('news');
        click.addEventListener('mousemove', function () {
            news.style.display = 'block';
        });
        click.addEventListener('mouseout', function () {
            news.style.display = 'none';
        });

        var gonggao = document.getElementById('gonggao');
        var gonggaos = document.getElementById('gonggaos');
        gonggao.addEventListener('mousemove', function () {
            gonggaos.style.display = 'block';
        });
        gonggao.addEventListener('mouseout', function () {
            gonggaos.style.display = 'none';
        });
    }


</script>

